* {
	box-sizing: border-box;
}
.container{
	max-width: 350px;
	margin: 0 auto;
	padding: 5px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border: 2px solid green;
}
h1{
	width: 100%;
	text-align: center;
	color: forestgreen;
}
.container2{
	margin: 10px;
	width: 100%;
	text-align: center;
}
#inputSum{
	width: 50%;
	margin: 0 auto;
	padding: 6px;
	border: 1px solid forestgreen;
}
.buySell{
	color: green;
}
.listCurrency{
	padding: 5px;
}
#result, 
#course{
	margin: 20px 0px;
	text-align: right;
	border: 1px solid forestgreen;
	padding: 6px;
	width: 45%;
}
#course{
	margin: 20px 5px;
	width: 40%;
}
.contResult{
	color: green;
	font-weight: bold;
}
.contResult:first-child{
	margin-right: 10px;
}
.container3{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}